<div class="row mt-3">
    <div class="col-auto mr-auto">
        <h1 class="heading">Books</h1>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary">Create New Book</button>
    </div>
</div>
<!-- Search component -->
<app-search></app-search>

<h3 class="sub-heading">All Books</h3>
<div class="row" *ngIf="books">
    <div class="col-md-6 my-4" *ngFor="let book of books?.items">
        <div class="card bg-white custom-card">
            <div class="card-body">
                <h3 class="book-header">{{book.volumeInfo.title}}</h3>
                <p>Authors:
                    <ng-container *ngFor="let author of book.volumeInfo.authors">
                        <span> {{author}}</span>
                    </ng-container>
                </p>
                <p>Publisher: {{book.volumeInfo.publisher}}</p>
                <p>PublishedDate: {{book.volumeInfo.publishedDate}}</p>
            </div>
        </div>
    </div>
</div>
