@import "src/assets/resources/mixins";
@import "src/assets/resources/variable";
.left-sidebar {
    position: relative;
    height: 100%;
    transition: 0.6s ease;
    border-right: 2px solid #ddd;
}
.main-wrapper {
    background-color: $color-background;
    overflow:hidden;
    overflow-y: auto;
    @include scroll-bar();
    height: calc(100vh - 40px);
    padding-bottom: 30px;
}

.collapsed{
    max-width: 4%;
}
.expend-main{
    min-width: 96%;
}
