.custom-card{
    box-shadow: 0px 1px 2px 1px #cecece;
    border : none;
    border-left: 6px solid #FAA73A;
    border-radius: 8px;
    color: #465A75;
}
.card-body h3{
    font-size: 1.25rem;
    font-weight: 600;
}
.card-body p{
    margin: 2px 0px;
}